.footer {
    text-align: center;
    align-items: center;
    display: inline-grid;
    font-weight: bolder;
}

.copyright {
  font-family: monospace;
  color:black;
  text-shadow: 1px 1px 1px #000000;
}
