.influencers {

  .influencer-sign-up-form {
  max-width: 600px;
  margin: 0 auto;
  }



.input-container {
    position: relative;
    height: 28px;

}




.hello  {
  position: relative;
  float: initial;
  width: 200px;
  height: 200px;
  padding: 2px;
}

.container-influencer {
  width: 686px;
  margin: auto;
}

}
