.influencers {

  .influencer-sign-up-form {
  max-width: 600px;
  margin: 0 auto;
  }



.input-container {
    position: relative;
    height: 28px;

}

// .budget-box {
//   position: absolute;
// }
//
// p.currency-symbol {
//   position: absolute;
// }


}
