.influencersstatic{
  // .influencer-profile-picture:hover{
  //   background-color:  #fff;
  //   opacity: 1;
  // }
  //
  // .influencer-profile-picture {
  //   background-color: yellow;
  // }

  .mc-hover:hover {
    opacity: 0.5;
  }


  .back-button{
    position: relative;
    top: 50px;
  }

  .item {
    text-align: center;
  }

  .item img{
    width: 100%;
  }
}
