// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing {
  .background{
 background-image: asset-url("image.jpg");
 height: calc(100vh - 52px);
 width: 100%;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 align-items: center;
 justify-content: center;
 }

 .image_box:hover .invisible-layout {
       opacity: 1;
       transition: all 0.5s ease-in-out;
     }

     .invisible-layout {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       height: 100%;
       width: 100%;
       opacity: 0;
     }

     .img-content {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100%;
       background-color: white;
       opacity: 0.5;
     }

     .typer {
       font-size: 45px;
       position: absolute;
       top: 125px;
       left: 215px;
     }

}
