.main-terms {
  background-image: asset-url("terms.jpg");
  height: calc(100vh - 52px);
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 300px;
}

  .terms {
    padding-left: 50px;
    padding-right: 50px;
  }

  h5{
    font-size: 60px;
    font-family: monospace;
  }
