<div class="landing">
    <div class="background">
        <p>
            <span class="typer" id="some-id" data-delay="100" data-delim=":" data-words="Platform for marketers and influencers." data-colors="black"></span>
            <span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span>
        </p>
        <div class="button-child">
            <% if current_influencer %>
              <%= link_to "Influencers", jobs_path, method: :get, class: "btn btn-info" %>
            <% else %>
              <button type="button" data-toggle="modal" data-target="#login-modal-influencer" class="btn btn-info">Influencers</button>
            <% end %>

            <% if current_marketer %>
              <%= link_to "Marketers", marketers_path, method: :get, class: "btn btn-info" %>
            <% else %>
                <button type="button" data-toggle="modal" data-target="#login-modal-marketer" class="btn btn-info">Marketers</button>
            <% end %>
        </div>
    </div>

    <!-- Login modal -->
    <%= render partial: 'partials/login_influencer' %>
    <%= render partial: 'partials/login_marketer' %>

</div>
