<div class="landing">
  <div class="background">

    <p>
       <span class="typer" id="some-id" data-delay="100" data-delim=":" data-words="Platform for marketers and influencers."
       data-colors="black"></span>
       <span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span>
    </p>
    <div class="button-child">
      <button type="button" class="btn btn-info">Influencers</button>
      <button type="button" class="btn btn-info">Marketers</button>
    </div>

    </div>



</div>
