<div class="landing">
  <div class="background">

    <p>
       <span class="typer" id="some-id" data-delay="100" data-delim=":" data-words="Influence Better."
       data-colors="black"></span>
       <span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span>
    </p>
    </div>

      <div class="image_box">
        <div class="invisible-layout">
       <div class="img-content">
         <h2> Influencer </h2>
       </div>
       <div class="img-content2">
         <h2> Marketers </h2>
       </div>
    </div>

</div>
<!-- <div class="image">
<%= image_tag "image.jpg" %>
</div> -->
