<footer>
  <div class="container">
   <div class="Terms text-center">
    <li><%= link_to "Terms and Condition", terms_path %></li>
   </div>
  <div class="Privacy text-center">
    <li><%= link_to "Privacy Policy", privacy_path %></li>
  </div>
  <div class="copyright text-center">
    <p>Copyright © Influence Ltd 2016 </p>
  </div>
 </div>

</footer>
