<footer class="footer">
  <div class="container">
  <div class="Terms">
    <li><%= link_to "TERMS AND CONDITION", terms_path, class: 'white shadowed link-styling' %></li>
  </div>
  <div class="Privacy">
    <li><%= link_to "PRIVACY POLICY", privacy_path, class: 'white shadowed link-styling' %></li>
  </div>
  <div class="copyright">
    <p>© Influence Ltd 2016 </p>
  </div>
</div>

</footer>
