<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: "user-login-form" }) do |f| %>

              <div class="form-group">
                  <%= f.email_field :email, type: "text", placeholder: "Email", required: true, id: "email_field", class: 'form-control' %>
              </div>

              <div class="form-group">
                  <%= f.password_field :password, type: "text", placeholder: "Password", required: true, id: "password_digest_field", class: 'form-control' %>
              </div>

              <div class="form-group text-center">
                  <%= f.submit "Login", type: "submit", class: "login loginmodal-submit" %>
              </div>

            <% end %>

            <div class="login-help">
                <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>
