<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="signupmodal-container">
            <<div class="sign-up-button-child">
                  <%= link_to "Marketers! Sign up Here!", new_marketer_registration_path, method: :get, class: "btn btn-info" %>
                  <%= link_to "Influencers! Sign up Here!", new_influencer_registration_path, method: :get, class: "btn btn-info" %>
            </div>


        </div>
    </div>
</div>
